<aside>
    <div class="profile-info">
        <img class="img" src="" alt="" />
        <h5>Andreas Persson</h5>
        <p>pingis00@hotmail.com</p>
    </div>

    <nav>
        <a class="btn @(ViewBag.ActiveLink == "Details" ? "btn-theme-s" : "btn-transparent")" asp-controller="Account" asp-action="Details">
            <i class="fa-regular fa-gear @(ViewBag.ActiveLink == "Details" ? "active-icon" : "inactive-icon")"></i> Account Details
        </a>
        <a class="btn @(ViewBag.ActiveLink == "Security" ? "btn-theme-s" : "btn-transparent")" asp-controller="Account" asp-action="AccountSecurity">
            <i class="fa-regular fa-lock @(ViewBag.ActiveLink == "Security" ? "active-icon" : "inactive-icon")"></i> Security
        </a>
        <a class="btn @(ViewBag.ActiveLink == "SavedCourses" ? "btn-theme-s" : "btn-transparent")" asp-controller="Account" asp-action="SavedCourses">
            <i class="fa-regular fa-bookmark @(ViewBag.ActiveLink == "SavedCourses" ? "active-icon" : "inactive-icon")"></i> Saved Courses
        </a>
        <a class="btn-transparent" asp-controller="Auth" asp-action="SignOut">
            <i class="fa-solid fa-arrow-right-from-bracket"></i> Sign out
        </a>
    </nav>
</aside>